[submodule "docs/extern/run-clang-format"]
	path = docs/extern/run-clang-format
	url = https://github.com/Sarcasm/run-clang-format.git
[submodule "docs/extern/doxygen-awesome-css"]
	path = docs/extern/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
