[submodule "extern/run-clang-format"]
	path = extern/run-clang-format
	url = https://github.com/Sarcasm/run-clang-format.git
[submodule "extern/doxygen-awesome-css"]
	path = extern/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
